<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="auth-form">
            <h3 class="form-title">Edit <%= skatepark.name %></h3>
            <form class="new-form" method="POST" action="/skateparks/<%= skatepark._id %>?_method=PUT">
                <div class="form-group">
                    <input class="form-control" type="text" name="skatepark[name]" value="<%= skatepark.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" name="skatepark[cost]" min="0.00" step="0.01"
                        value="<%= skatepark.cost %>">
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="skatepark[location]" id="location" value="<%= skatepark.location %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="skatepark[image]" value="<%= skatepark.image %>">
                </div>
                <div class="form-group">
                    <textarea class="form-control text-area" type="text"
                        name="skatepark[description]"><%= skatepark.description %></textarea>
                </div>
                <button class="btn form-btn btn-block">Enter</button>
            </form>
            <a href="/skateparks">Back to Skateparks</a>
        </div>
    </div>
</div>


<% include ../partials/footer %>