<% include ../partials/header %>

<header class="jumbotron vertical-center">
    <div class="container">
        <% if(currentUser) { %>
            <h1 id="welcome">Welcome to conqrete reviews <%= currentUser.username %>!</h1>
            <h6 id="slogan">View Skateparks from all over the world!</h6>
        <% } else { %>
            <h1 id="welcome">Welcome to conqrete reviews</h1>
            <h6 id="slogan">View Skateparks from all over the world!</h6>
        <% } %>
        <p><a id="add-skatepark-btn" class="btn btn-primary" href="/skateparks/new">Add a new Skatepark</a></p>
    </div>
</header>

<div class="container">
    <div class="row">
        <p style="margin: 10px auto; float: right;">
            <form action="/skateparks" method="GET" class="form-inline">
                <div class="form-group">
                    <input class="form-control" type="text" name="search" placeholder="Search skatepark">
                    <input id="search" class="btn btn-dark" type="submit" value="Search" class="">
                </div>
            </form>
        </p>
    </div>
    <div class="row text-center">
        <div class="col-md-12" style="margin: 25px auto;">
            <% if(noMatch !== undefined) { %>
                <h3><%= noMatch %></h3>
            <% } %>
        </div>
        <% for(let i = 0; i < skateparks.length; i++){ %>
        <div class="col-md-3 col-sm-6">
            <div id="skatepark-card" class="card" >
                <img class="card-img-top" src="<%= skateparks[i].image %>" alt="<% skateparks[i].name %>"> 
                <div class="card-body">
                    <h6 class="card-title"> <%= skateparks[i].name %> </h6>
                    <p>
                        <a id="more-info-btn" href="/skateparks/<%= skateparks[i]._id %>" class="btn btn-sm">More Info</a>
                    </p>
                </div>
            </div>
        </div>
        <% }; %> 
    </div>
</div>

<% include ../partials/footer %>